.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerBackground{
  background-color: #bd4545;
}
a.navbar-brand {
  color: white;
}
.marginInside{
  padding: 0;
  background-color: white;
  margin-top:5% ;
  display: flex;
}
.divSubContainers{
  /* min-height: 300px; */
  /* max-height: 400px; */
  padding: 0;
  height:400px;
  overflow-y: auto;
  border: 1px solid lightgray;
}
.card{
  margin-left: 4%;
    margin-right: 4%;
}
.subHeader{
  padding-top: 2%;
  display: flex;
  height: 40px;
  background: #bd4545;
  margin-bottom: 5%;
  color: white;
}
.btnMargin{
  float: right;
}